<h1> Values of CryptoCurrencies </h1>

<a class="btn btn-primary" href=<%= currency_path('Bitcoin') %> role="button"> Bitcoin</a>
<a class="btn btn-primary" href=<%= currency_path('Etherum') %> role="button"> Etherum</a>
<a class="btn btn-primary" href=<%= currency_path('Nasdaq') %> role="button"> Nasdaq</a>